<div>
  <section id="background" class="d-flex flex-column justify-content-center">
    <div class="container"></div>
  </section>
</div>

<div class="center row">
  <div class="content mt-3">
    <h1>Welcome</h1>
    <div class="row">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" [formControl]="checkPassword"
          (input)="isFormDataValid()">
      </mat-form-field>
    </div>
    <div class="row" style="margin-top: 10px">
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" [(ngModel)]="confirmPassword" [formControl]="checkConfirmPassword"
          (input)="passwordsMatch()">
      </mat-form-field>
    </div>
    <div class="row justify-content-center" *ngIf="
      ((checkPassword.invalid || checkConfirmPassword.invalid) && (checkPassword.dirty || checkPassword.touched 
      || checkConfirmPassword.dirty || checkConfirmPassword.touched))
        ">
      <mat-error style="text-align: center">
        Both fields are required!
      </mat-error>
    </div>
    <div class="row justify-content-center">
      <mat-error style="text-align: center">
        {{errorMessage}}
      </mat-error>
    </div>
    <div class="row justify-content-center">
      <mat-error style="text-align: center">
        {{errorMessage1}}
      </mat-error>
    </div>
    <button class="login mt-4" [disabled]="isButtonDisabled()" (click)="setPass()">
      Confirm
    </button>
  </div>
</div>
