:host {
    position: relative;
    z-index: 10;
    color: #fff;
}

.app-navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.app-navbar span {
    text-transform: uppercase !important;   
}

.right {
    margin-left: auto;
    float: right;
}

.left{
    margin-right: auto;
    float: left;
}

.app-angular-logo {
    margin: 0 4px 3px 0;
    height: 26px;
}

.greeting-hamburger {
    display: none;
} 

.mat-toolbar.mat-primary {
    background: #007bff;
    color: #fff;
  }