<mat-toolbar class="app-navbar mb-5" color="primary">
    <div class="left">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <button *ngIf="isAdmin()" mat-button mat-ripple routerLink="/admin-home">
                <span>Home</span>
            </button> 
            <button *ngIf="isClient()" mat-button mat-ripple routerLink="/user-home">
                <span>Home</span>
            </button> 
        </div>
    </div>
    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center"> 
            <button *ngIf="isAdmin()" mat-button mat-ripple (click)="addAdmin()"> NEW ADMIN </button>
            <button *ngIf="isAdmin() || isClient()" mat-button mat-ripple (click)="changePassword()"> CHANGE PASSWORD </button>

            <button *ngIf="isAdmin() || isClient()" mat-button mat-ripple (click) = "logout()">
                <span>Logout</span>
            </button> 
        </div>
    </div>
</mat-toolbar>