<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <br>
            <h2 style="color: grey; margin-left: 50%;">SEARCH PROFILES</h2>
            <br><br>
            <input class="form-control form-control-lg" [(ngModel)]="query" type="text" placeholder="Profile name or username" aria-label=".form-control-lg example">
            <br>
        </div>
        <div class="col-sm-2">
            <br><br><br><br><br>
            <button type="button" style="margin-left: 20%;" (click)="search()" class="btn btn-lg btn-outline-primary">Search profiles</button>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div *ngFor="let profile of profiles;" class="card" style="margin-top: 5%;">
                <div class="card-body" *ngIf="IsNotMe(profile.id)">
                  <h5 class="card-title">{{profile.name}} {{profile.lastname}} - {{profile.username}}</h5>
                  <p class="card-text">{{profile.biography}}</p>
                  <p class="card-text">{{profile.interests}}</p>

                  <a class="btn btn-outline-primary" *ngIf="!profile.privateProfile" href="/profile/{{profile.id}}">Visit profile</a>
                  <button *ngIf="!ConnectionExists(profile.id) && loggedIn" style="margin-left: 3%;" type="button" (click)="sendFollow(profile.id)" class="btn btn-primary">Send follow request</button>

                </div>
              </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
</div>


<style>
    
</style>