<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2 style="color: grey; margin-left: 42%;margin-top: 30%;">LOGIN</h2>
            <br><br>
            <input class="form-control form-control-lg" type="text" [(ngModel)]="loginData.username" name="username" placeholder="Username" aria-label=".form-control-lg example">
            <br><br>
            <input class="form-control form-control-lg" type="password" [(ngModel)]="loginData.password" name="password" placeholder="Password" aria-label=".form-control-lg example">
            <br><br>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-lg btn-outline-danger">Forgot password ?</button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" (click)="login()" class="btn btn-lg btn-outline-primary">Log in</button>
                  </div>
                  <div class="col-sm-2"></div>
            </div>
        </div>
    <div class="col-sm-4"></div>
    </div>
</div>

