<app-navbar></app-navbar>
<mat-card *ngIf="done">
  <div class="row">
    <h3>Password successfully changed.</h3>
  </div>
  <div class="row">
    <a href="/home">Go Back</a>
  </div>
</mat-card>
<mat-card *ngIf="!done">
  <mat-card-content>
    <form #loginForm="ngForm">
      <h2>Change Password</h2>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Old Password"
          [(ngModel)]="oldPassword"
          name="oldPassword"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="New Password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Repeat Password"
          [(ngModel)]="repeatedPassword"
          name="repeatedPassword"
          required
        />
      </mat-form-field>
      <p class="my-3" style="color: red">{{ errorMessage }}</p>
      <div class="d-flex justify-content-center">
        <button
          class="btn btn-secondary me-2"
          mat-raised-button
          routerLink="/home"
        >
          Cancel
        </button>
        <button
          (click)="submitForm()"
          class="btn btn-primary"
          mat-raised-button
          color="primary"
          [disabled]="
            oldPassword == '' || newPassword == '' || repeatedPassword == ''
          "
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
