<body>
    <div>
        <h1 style="display: flex; justify-content: center; margin: auto; margin-top: 30px; color:#007bff">
            Login form
        </h1>
        <mat-form-field style="background: white;">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder=""  [formControl]="email" required>
        </mat-form-field>
        

        <mat-form-field style="background: white;" >
            <mat-label>Enter your password</mat-label>
            <input matInput placeholder="" [formControl]="password" required type="password">
        </mat-form-field>

        <button style="display: flex; justify-content: center; margin: auto; margin-top: 20px;"
             mat-raised-button color="primary" (click)="login()">Login
        </button>

        <a href="http://localhost:4200/registration" style="display: flex; justify-content: center; margin: auto; margin-top: 20px;">
            Create new account
        </a>
        <a href="http://localhost:4200/recoverypass" style="display: flex; justify-content: center; margin: auto; margin-top: 10px;">
            Forgot password?
        </a>
    </div>
</body> 