<body>
    <div>
        <h1 style="display: flex; justify-content: center; margin: auto; margin-top: 30px;">
            Change password
        </h1>
        <mat-form-field style="background: white;" autocomplete="off">
            <mat-label>Enter old password</mat-label>
            <input matInput placeholder=""  [formControl]="oldPassword" type="password" required autocomplete="off">
        </mat-form-field>
        
        <mat-form-field style="background: white;">
            <mat-label>Enter new password</mat-label>
            <input matInput placeholder=""  [formControl]="newPassword" type="password" required autocomplete="off">
        </mat-form-field>

        <mat-form-field style="background: white;" >
            <mat-label>Re-enter new password</mat-label>
            <input matInput placeholder="" [formControl]="reenteredPassword" required type="password" autocomplete="off">
        </mat-form-field>

        <button style="display: flex; justify-content: center; margin: auto; margin-top: 20px;"
         mat-raised-button color="primary" (click)="login()">Submit</button>

        
    </div>
</body> 