<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-7">
            <h2 style="color: grey; margin-left: 7%;">MY INFO</h2>
        </div>
       
    </div>
    <div class="row">
        <div class="col-sm-6">
            <br><br>
            <input class="form-control form-control-lg" type="text" disabled placeholder="Name" aria-label=".form-control-lg example">
            <br>
            <input class="form-control form-control-lg" type="text" disabled placeholder="Lastname" aria-label=".form-control-lg example">
            <br>
            <input class="form-control form-control-lg" type="text" disabled placeholder="Username" aria-label=".form-control-lg example">
            <br>
            <input class="form-control form-control-lg" type="email" disabled placeholder="E-mail" aria-label=".form-control-lg example">
            <br>
            <input class="form-control form-control-lg" type="password" disabled placeholder="Phone number" aria-label=".form-control-lg example">
            <br>
            <select disabled class="form-select form-select-lg" aria-label="Default select example">
                <option selected>Choose your gender</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
              </select>
            <br>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <h3 style="color: grey;">Birth date:</h3>
              </div>
              <div class="col-sm-8">
                <input class="form-control form-control-lg" type="date" disabled placeholder="Birth date" aria-label=".form-control-lg example">
              </div>
            </div>
            <br><br>
            <div style="margin-left: 35%;" class="form-check form-switch">
                <input class="form-check-input" disabled style="width: 4em; height: 2em;margin-right: 3%;" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault" style="color: grey;font-size: x-large;">Private profile</label>
              </div>
              <br><br>
              <div class="row">
                <div class="col-sm-5"></div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-lg btn-secondary">Edit Info</button>
                  </div>
                  <div class="col-sm-5"></div>
              </div>
        </div>
        <div class="col-sm-6">
            <br><br>
            <textarea class="form-control" placeholder="Biography" disabled id="exampleFormControlTextarea1" rows="4"></textarea>
            <br>
            <textarea class="form-control" placeholder="Working experience" disabled id="exampleFormControlTextarea1" rows="4"></textarea>
            <br>
            <textarea class="form-control" placeholder="Education" disabled id="exampleFormControlTextarea1" rows="4"></textarea>
            <br>
            <textarea class="form-control" placeholder="Skills and interests" disabled id="exampleFormControlTextarea1" rows="4"></textarea>
            <br><br><br><br>
            <div class="row">
                <div class="col-sm-5"></div>
                  <div class="col-sm-3">
                    <button type="button" disabled class="btn btn-lg btn-outline-primary">Save Changes</button>
                  </div>
                  <div class="col-sm-4"></div>
              </div>

        </div>
    </div>
</div>


<style>
    
</style>