<app-navbar></app-navbar>
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" 
                  type="button" role="tab" aria-controls="pills-home" aria-selected="true">Info and contact</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" 
                  type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Biography and work</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" 
                  type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Skills and interests</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{user.name}} {{user.lastname}} - {{user.username}} - {{user.email}}</h5>
                          <br>
                          <h5 class="card-text">Birth Date: {{user.birthDate}}</h5>
                          <br>
                          <h5 class="card-text">Phone number: {{user.phoneNumber}}</h5>
                        </div>
                      </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{user.name}} {{user.lastname}} - {{user.username}} - {{user.email}}</h5>
                          <br>
                          <h5 class="card-text">Biography: {{user.biography}}</h5>
                          <br>
                          <h5 class="card-text">Education and working experience: {{user.education}} {{user.workingExperience}}</h5>
                        </div>
                      </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{user.name}} {{user.lastname}} - {{user.username}} - {{user.email}}</h5>
                          <br>
                          <h5 class="card-text">Skills: {{user.skills}}</h5>
                          <br>
                          <h5 class="card-text">Interests: {{user.interests}}
                          </h5>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" >
            <div class="card" style="border-radius: 2%; margin-top:2% " *ngFor = 'let post of posts'>
                <div class="card-body" >
                  <h5 class="card-title">{{post.username}}</h5>
                  <p class="card-text" *ngFor="let word of splitByLink(post.postText)">
                    <span *ngIf="word.type == 'text'">{{word.text}}</span>
                    <a *ngIf="word.type == 'link' && word.text.startsWith('www')" :href="https://{{word.text}}"> {{word.text}} </a>
                    <a *ngIf="word.type == 'link' && !word.text.startsWith('www')" :href="https://www.{{word.text}}"> {{word.text}} </a>
                  </p>
                  <p class="card-text"><small class="text-muted">{{post.dateCreated}}</small></p>
                </div>
                <img mat-card-lg-image src={{post.imageString}} >
                <hr>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2">
                      <button class="btn" *ngIf="loggedIn" style="color: green;" id="green"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true" (click)="likePost(post.postId)"></i> <p class="text-box"><small class="text-muted">{{post.likedUsers.length}}</small></p></button>
                  </div>
                  <div class="col-sm-4">
                      <button class="btn" *ngIf="loggedIn" style="color: red;" id="red"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true" (click)="dislikePost(post.postId)"></i><p class="text-box"><small class="text-muted">{{post.dislikedUsers.length}}</small></p></button>
                  </div>
                  <div class="col">
                          <button style="margin-bottom: 5%;" class="btn btn-lg btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              Comments
                          </button>
                  </div>
              <hr>
              </div>
                <div class="collapse" id="collapseExample"  >
                  <div class="container-fluid" style="margin-bottom: 2%;" >
                      <div class="row" *ngIf="loggedIn">
                          <div class="col-sm-8">
                              <textarea class="form-control" placeholder="Write comment here..." id="exampleFormControlTextarea1" [(ngModel)]="newComment.content" rows="2"></textarea>
                          </div>
                          <div class="col-sm-1"></div>
                          <div class="col-sm-3">
                              <button class="btn btn-outline-primary" style="margin-top: 5%;" (click) = "commentPost(post.postId)" type="button">
                                  Leave a comment
                              </button>
                          </div>
                      </div>
                      
                      <hr>
                      <div class="card card-body" *ngFor = 'let comment of post.comments'>
                          <h5 class="card-title">{{comment.username}}</h5>
                          <p class="card-text">{{comment.content}}</p>
                          <p class="card-text">{{comment.dateCreated}}</p>
                        </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
